# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
.venv
.venv-*
venv/
.pytest_cache/
.mypy_cache/

# IDE
.idea/
.vscode/
*.swp

# Node (client)
client/node_modules/
client/.next/
client/dist/

# Env
.env
.env.local
.env.*

# Tests
htmlcov/
.coverage

# Otros
*.log
.DS_Store
